@model IEnumerable<JQueryAjaxInMVC2.Models.InstructorViewModel>

@{
    ViewBag.Title = "ViewAllInstructors";
    Layout = null;
}



<table class="table" id="instructorTable">
    <thead>
            <tr>
                <th>Name</th>
                <th>Club Name</th>
                <th>Username</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>Address Line 1</th>
                <th>Address Line 2</th>
                <th>Postcode</th>
                <th></th>

            </tr>
     </thead>
       <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName @item.LastName</td>
                        @*<td>@item.LastName</td>*@
                        <td>@item.ClubName</td>
                        <td>@item.Username</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.AddressLine1</td>
                        <td>@item.AddressLine2</td>
                        <td>@item.Postcode</td>
                        <td>
                            <a class="btn btn-primary btn-sm" onclick="EditInstructor('@Url.Action("AddOrEditInstructor", "Instructor", new { id = @item.InstructorID })')"><i class="fa fa-pencil fa-lg"></i></a>
                            <a class="btn btn-danger btn-sm" onclick="DeleteInstructor('@Url.Action("DeleteInstructor", "Instructor", new { id = @item.InstructorID })')"><i class="fa fa-trash fa-lg"></i></a>

                        </td>
                    </tr>
                }
        </tbody>
</table>


