@model IEnumerable<JQueryAjaxInMVC2.Models.Club>

@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}

<style>
    tr:hover {
        background-color: #f5f5f5;
    }
</style>

<table id="clubTable" class="table  table-bordered" style="width:100%">
 <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClubName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubMembership)
        </th>
        <th></th>
    </tr>
 </thead>
 <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClubName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClubDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClubMembership)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" onclick="Edit('@Url.Action("AddOrEditClub", "Club", new { id =@item.ClubID})')"><i class="fa fa-pencil fa-lg"></i></a>
                    <a class="btn btn-danger btn-sm" onclick="Delete('@Url.Action("Delete", "Club" , new { id =@item.ClubID})')"><i class="fa fa-trash fa-lg"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>
