@model IEnumerable<JQueryAjaxInMVC2.Models.Club>

@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClubName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubMembership)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClubName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClubDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClubMembership)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClubID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClubID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClubID })
        </td>
    </tr>
}

</table>
